<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    <!-- This is the name of the application. -->
    <add key="ApplicationName" value="WebServiceViewLog"/>
    <!-- This is the based address to use for REST requrests. -->
    <add key="endpointREST" value="http://wtunnel.cloudapp.net/Support.svc/rest/" />
    <add key="searchUtility" value="v1/utility/log/search"/>
    <add key="deleteUtility" value="v1/utility/log/del/"/>
    <add key="supportKey" value="387wodpjfQWER987"/>
  </appSettings>

</configuration>